@font-face {
  font-family: 'benton black';
  src: url('../fonts/bentonsans-black-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bentonsans-black-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bentonsans-black-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'benton bold';
  src: url('../fonts/bentonsans-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bentonsans-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bentonsans-bold-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'benton extra-light';
  src: url('../fonts/bentonsans-extralight-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bentonsans-extralight-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bentonsans-extralight-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'benton light';
  src: url('../fonts/bentonsans-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bentonsans-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bentonsans-light-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'benton';
  src: url('../fonts/bentonsans-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/bentonsans-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/bentonsans-regular-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
}
