@import "bourbon/bourbon";

// For some info on modular scales:
// - https://github.com/thoughtbot/bourbon/blob/v4-stable/app/assets/stylesheets/functions/_modular-scale.scss
// - modularscale.com
$rem-base: 20px;
$base-line-height: $perfect-fourth;

$modular-scale-ratio: $perfect-fourth;
$modular-scale-base: rem($rem-base);

html {
  font-size: $rem-base; // define the value of 1rem
}

@function rem-to-px($value, $base: $rem-base){
  $v1: strip-units($value);
  $v2: strip-units($base);
  @return ($v1 * $v2 * 1px);
}

// - I use SI units to describe my placeholder classes: should do nothing but describe the font scale
// - leave additional presentational logic to concrete classes
$scale-list: (
  ("h1", 4),
  ("h2", 3),
  ("h3", 2),
  ("h4", 1),
  ("h5", 0),
  ("h6", -1)
);

@each $increment in $scale-list {
  $placeholder-class-name: nth($increment, 1);
  $scale-step: nth($increment, 2);

  %#{$placeholder-class-name} {
    $relative-size: modular-scale($scale-step);
    font-size: rem-to-px($relative-size); // pixel fallback for old browsers
    font-size: $relative-size;
    line-height: $base-line-height;
  }
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}
