@charset "utf-8";
@import "variables";
@import "typography";
@import "buttons";
@import "normalize";
@import "double-burger";
@import "top-nav";
@import "super-location-nav";
@import "location";

body {
  text-align: center;
  font-family: "Benton";
  font-size: 1em;
}
