<nav class="nyu-site-nav">
  <div class="main-site-nav">
    <div class="nyu-site-nav__actions">
      <label class="nyu-site-nav__actions-expand double-burger" tabindex="1">
        <span class="double-burger-line double-burger-top">
          <span class="double-burger-top-crust double-burger-crust"></span>
        </span>
        <span class="double-burger-line double-burger-bottom">
          <span class="double-burger-bottom-crust double-burger-crust"></span>
      </label>
      <img class="nyu-site-nav__logo" src="/images/logo@2x.png"></img>
    </div>
    <div class="nav-links">
      <ul class="nav-links__list">
        <li>Patient Login</li>
        <li>Patient Forms</li>
        <li>Contact Us</li>
        <li>Give</li>
      </ul>
      <div class="nav-links__action">
        Research & Education
        <i class="nav-links__action-redirect fa fa-external-link"></i>
      </div>
    </div>
  </div>
  <div class="sub-nav">
    <ul class="sub-links__list">
      <li>Find a Doctor</li>
      <li>Conditions We Treat</li>
      <li>Patient & Family Support</li>
      <li class="active">Locations</li>
      <li>Our Story</li>
    </ul>
    <i class="sub-nav__icon fa fa-search"></i>
  </div>
</nav>
