<nav class="location-nav">
  <div class="location-nav__home"><i class="fa fa-home fa-3x"></i></div>
  <div class="location-nav__navigation">
    <ul class="location-nav-links__list">
      <li>New Patients</li>
      <li>Services<i class="fa fa-chevron-down"></i></li>
      <li>Our Locations</li>
      <li>About Us<i class="fa fa-chevron-down"></i></li>
      <li>Make a Gift</li>
    </ul>
    <form class="location-nav__search-bar">
      <input placeholder="Search for a Type of Cancer" type="search" value="" name="search" id="search" autocomplete="off">
      <ul class="result-list full-list">
        <li>Acoustic Neuroma</li>
        <li>Acute Lymphoblastic Leukemia in Adults</li>
        <li>Acute Myeloid Leukemia in Adults</li>
        <li>Adrenal Tumors</li>
        <li>AIDS-RElated Lymphoma</li>
        <li>Basal & Squamous Cell Skin Cancers in Adults</li>
        <li>Bladder Cancer</li>
      </ul>
      <ul class="result-list filtered-list">
        <li>Non-Small Cell <em>Lung Cancer</em></li>
        <li>Small Cell <em>Lung Cancer</em></li>
        <li>Basal & Squamous Cell Skin <em>Cancers</em> in Adults</li>
        <li>Bladder <em>Cancer</em></li>
        <li>Brest <em>Cancer</em></li>
      </ul>
      <a class="location-nav__search-icon" href=""><i class="fa fa-search fa-2x"></i></a>
    </form>
  </div>
</nav>
