---
title: NYU Prototype
---

<%= partial "partials/nyu-site-nav" %>
<%= partial "partials/super-location-nav" %>
<div class="location-header">
  <h1>Perlmutter Cancer Center</h1>
  <h1>We bring visionary thinking and compassioante care to the science of treating cancer.</h1>
</div>
<div class="location-features">

  <div class="location-feature">
    <h1>Find a Cancer Specialist</h1>
    <p>We house the top cancer doctors in the country. Find which doctor is best for you.</p>
    <button type="button" name="button">Find a Cancer Doctor</button>
  </div>
  <div class="location-feature">
    <h1>Find a Clinical Trial</h1>
    <p> We have clinical trials supported by the most up to date science and research.</p>
    <button type="button" name="button">
      Find a Clinical Trial
    </button>
  </div>
  <div class="location-feature">
    <h1>Book an Appointment</h1>
    <p>Request an appointment with one of our doctors and find your perfect care team.</p>
    <button type="button" name="button">Request an Appointment</button>
  </div>
</div>
<div class="main-area">
  <div class="main-content">
    <p>
      <strong>A</strong>t NYU Langone's Laura and Isaac Perlmutter Cancer Center, a National Cancer Institute-designated cancer center, we personalize the care of every patient
    </p>
    <p>Our teams of physicians and scientsts work together across multiple disciplines to bring our patients the most cutting-edge treatments and innovative clinical trials.</p>
    <p>From our laboratories to our doctors' offices, we are committed to curing cancer in our lifetime.</p>
  </div>

  <nav class='side-nav'>
    <div class="side-nav__contact-info">
      <h1>Perlmutter Cancer Center</h1>
      <p>160 East 34th Street</p>
      <p>New York, NY 10016</p>
      <span>
        <i class="fa fa-phone"></i>646-555-5555
      </span>
    </div>
    <div class="side-nav__share-links">
      <h5 class="share-links__label">SHARE:</h5>
      <i class="share-links__link fa fa-envelope"></i>
      <i class="share-links__link fa fa-facebook"></i>
      <i class="share-links__link fa fa-twitter"></i>
    </div>
  </nav>
</div>
