---
title: NYU Prototype
---

<%= partial "partials/nyu-site-nav" %>
<%= partial "partials/super-location-nav" %>
<div class="location-header">
  <h1>Perlmutter Cancer Center</h1>
  <h1>We bring visionary thinking and compassioante care to the science of treating cancer.</h1>
</div>
<div class="location-features">

  <div class="location-feature">
    <h1>Find a Cancer Specialist</h1>
    <p>We house the top cancer doctors in the country. Find which doctor is best for you.</p>
    <button type="button" name="button">Find a Cancer Doctor</button>
  </div>
  <div class="location-feature">
    <h1>Find a Clinical Trial</h1>
    <p> We have clinical trials supported by the most up to date science and research.</p>
    <button type="button" name="button">
      Find a Clinical Trial
    </button>
  </div>
  <div class="location-feature">
    <h1>Book an Appointment</h1>
    <p>Request an appointment with one of our doctors and find your perfect care team.</p>
    <button type="button" name="button">Request an Appointment</button>
  </div>
</div>

<footer>

</footer>
